@use './variables' as *;

// Breakpoints //
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button {
	border-radius: 50px;
	font-size: 1.125rem;
	background-color: $primary-button-color;
	color: $secondary-font-color;
	border: none;
	padding: .75rem 2rem;
	cursor: pointer;

	&:hover {
		background-color: $hover-button-color ;
	}
}

@mixin input {
	border-radius: 50px;
	border: none;
	background-color: $input-background-color;
	color: $input-font-color;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	width: 20rem;
	font-size: 1rem;
}
