@use "../partials/variables" as *;

// Logo
@font-face {
    font-family: "Pacifico";
    src: url("../../assets/fonts/Pacifico-Regular.ttf") format("truetype");
    font-style: normal;
}

// Regular
@font-face {
    font-family: $font-stack;
    src: url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

// Demi
@font-face {
    font-family: $font-stack;
    src: url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

// Bold
@font-face {
    font-family: $font-stack;
    src: url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}