// Breakpoints //
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Font variables //
$font-stack: "Montserrat", sans-serif;
$root-font-size: 100%;

// Background colors //
$primary-background-color: #9ADAE7;
$secondary-background-color: white;
$input-background-color: white;

// Font colors //
$primary-font-color: black;
$secondary-font-color: white;
$input-font-color: rgba(0, 0, 0, 0.57);

// Button colors //
$primary-button-color: #FFA384;

// Border colors //
$primary-border-color: rgba(0, 0, 0, 0.57);
