@use '../../styles/partials/variables' as *;

.hero {
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  &__logo {
    height: 1rem;
  }
}
