@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.auth {
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;

  &__header {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.form {
  &__container {
    display: flex;
    justify-content: center;
  }

  &__input {
    @include input;
    border: none;
    padding: 0.35rem 0 0.35rem 0.35rem;
    margin-bottom: 1rem;
  }
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__action {
    margin: 1rem 0;
    @include button;
    padding: 0.35rem;
    border: none;
    width: 80%;
  }

  &__toggle {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
  }
}
