@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.user {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;

  &__name {
    margin-left: 0.5rem;
  }
}

.post {
  &__image {
    max-width: 20rem;
    height: 6.25rem;

    @include tablet {
      max-width: 20rem;
    }
  }
}

.postActivity {
  padding: 0.2rem 1rem;
  font-size: 0.8125rem;
}

.actionIcons {
  display: flex;
  align-items: center;
}

.caption {
  &__user {
    font-weight: 600;
  }
  &__text {
    margin-left: 1rem;
  }
}

.commentsCollapsed {
  padding: 0.6rem 0;
  color: $input-font-color;
}

.comments {
  margin-bottom: 0.4rem;
  &__commenter {
    font-weight: 600;
  }
  &__comment {
    margin-left: 1rem;
  }
}

.timestamp {
  padding: 0.2rem 1rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: $input-font-color;
}

.commentFormMobile {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;

  @include tablet {
    display: none;
  }

  &__inputWrapper {
    display: flex;
    width: 100%;
  }

  &__input {
    border: none;
    width: 100%;
  }

  &__button {
    border: none;
    background: none;
    color: $primary-background-color;
  }
}

.commentFormTablet {
  display: none;

  @include tablet {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $primary-border-color;
    padding: 0.6rem;
  }

  &__input {
    width: 100%;
    text-align: center;
    border: none;

    &:focus {
      border: none;
    }
  }

  &__button {
    border: none;
    background: none;
    color: $primary-background-color;
  }
}
